<div class="flex h-screen flex-col">
  <app-navbar></app-navbar>
  <div class="bg-white-600 w-full grow px-4 pb-4">
    <table cdk-table [dataSource]="products">
      <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>

      <!-- Id column -->
      <ng-container cdkColumnDef="id">
        <th cdk-header-cell *cdkHeaderCellDef="">Id.</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Title column -->
      <ng-container cdkColumnDef="title">
        <th cdk-header-cell *cdkHeaderCellDef="">Title.</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.title }}</td>
      </ng-container>

      <!-- Title column -->
      <ng-container cdkColumnDef="price">
        <th cdk-header-cell *cdkHeaderCellDef="">Price.</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.price }}</td>
      </ng-container>

      <!-- Cover column -->
      <ng-container cdkColumnDef="cover">
        <th cdk-header-cell *cdkHeaderCellDef="">Cover.</th>
        <td cdk-cell *cdkCellDef="let row">
          <img class="w-24" [src]="row.images[0]" alt="">
        </td>
      </ng-container>
    </table>
  </div>
</div>
